@import './../../../scss/variables';

.textAreaBox {
	width: 100%;
	border: 1px solid $grey_text;
	padding: 16px 16px 8px 16px;
	position: relative;
	border-radius: 4px;
}

.textarea {
	width: 100%;
	outline: none;
	resize: none;
	border: none;
}

.textarea::placeholder {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: rgba($color: $grey_text, $alpha: 0.6);
}

.label {
	font-size: 12px;
	color: $grey_text;
	position: absolute;
	top: -18%;
	transform: translateY(50%);
	left: 9px;
	padding: 0 8px;
	background: $white;
}
